* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    line-height: 1.6em;
    background: #232323;
    color: #DDD;
}

.headerName {
    margin: .5em;
}


.container {
    max-width: 100%;
}

.portfolio {
    width: 100vw;
    height: 3rem;
    background: rgb(0, 65, 52);
    position: fixed;
    bottom: 3rem;
    overflow-y: auto;
    
}

/* .portfolio-scroll {
    overflow-y: scroll;
    height: auto;
} */

.portfolio::-webkit-scrollbar {
    display: none;
}

.contact {
    background: rgb(83, 131, 122);
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
}

.contentName {
    margin: 0;
    padding: .5rem 0;
    letter-spacing: .5rem;
}

img {
    max-width: 95%;
    height: auto;
}

.profilePicture {
    max-width: 95%;
    display: inline-block;
}

.port-item {
    padding: 2rem 0;
}

.aboutMePara {
    max-width: 95%;
    display: inline-block;
    letter-spacing: .1rem;
}

.strong {
    color: turquoise;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: turquoise;
}

.tab-button {
    color: #DDD;
    text-transform: none;
}

.email-link {
    font-size: .75rem;
}

@media (min-width: 61rem) {

    .headerName {
        font-size: 5em;
    }

    .headerName {
        border-bottom: solid .1rem #DDD;
        padding: 2.5rem 0;
        text-transform: uppercase;
        margin: 1rem 1rem;
    }

    .aboutMeContainer {
        position: absolute;
    }

    .profilePicture {
        position: relative;
        margin-left: 12%;
    }

    .aboutMePara {
        max-width: 25%;
        height: 100%;
        position: relative;
        font-size: 2em;
        text-align: left;
        line-height: 3rem;
        letter-spacing: .1em;
        float: right;
        margin-right: 15%;
    }

    .contentName {
        padding: 1rem 0;
        font-size: 3rem;
    }

    .portfolio {
        height: 5rem;
        bottom: 5rem;
    }

    .contact {
        height: 5rem;
        bottom: 0;
    }

    .port-item {
        max-width: 20em;
        margin: 0 1rem;
    }

}